<div class="card post-entry">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-title">@Model.Description</p>
        <a asp-controller="Posts" asp-action="Show" asp-route-id="@Model.Id"class="btn btn-primary">Visit</a>
    </div>
</div>