@model List<PostModel>
@{
    ViewData["Title"] = "Home Page";
    List<PostModel> posts = ViewData["posts"] as List<PostModel>;
}
<div class="text-center">
    <h1 class="display-4">Welcome to Dottle</h1>
    <p class="lead">Your single point of contact for working with local businesses</p>
    <p>Here are the latests posts</p>
    <div class="container post-container">
        @{
            foreach (PostModel post in @Model) 
            {
                Html.RenderPartialAsync("_Post", post);
            }
        }
    </div>
</div>
