@model UserModel

<div>
    <h1>Congratulations!</h1>
    <p>
        Dear @Model.Name, you have successfully signed up for Dottle!
        We are very proud of you and wish you all the best!
    </p>
</div>
