@model UserModel

@{
    ViewBag.Title = "Signed in successfully";
    Layout = "_Layout";
}

<h2>Congratulations!</h2>
<p>
    Dear @Model.Name,
    We're happy to tell you, that you have successfully signed in to Dottle. Enjoy your stay!
</p>
