@model Dottle.ViewModels.Inquiry

        <h4>We've encountered issues while trying to send your inquiry</h4>

        @Html.ValidationSummary()

        <button class="button normal" onclick="history.back()" style="vertical-align: middle"><span>Go back and fix your mistakes!</span></button>