@model PostShowViewModel

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Model.Post.Title</h3>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Post.Description</h6>
        </div>
    </div>
</div>

