@model Dottle.Web.ViewModels.UserSetting;
<div class="container box">
    <h1>User Site Preferences</h1>
    <p class=“lead”>Post index layout setting: </p>
    <form asp-action="UpdateSettings" method="post">
        <div class="form-check">
            <input asp-for="SiteLayout" class="form-check-input" type="radio" name="SiteLayout" id="flexedRadio" value="post-container-flexed" checked>
            <label class="form-check-label" for="flexedRadio">
                Compact
            </label>
        </div>
        <div class="form-check">
            <input asp-for="SiteLayout" class="form-check-input" type="radio" name="SiteLayout" id="listRadio" value="post-container">
            <label class="form-check-label" for="listRadio">
                List
            </label>
        </div>
        <div class="settings-submit-btn">
            <button type="submit" class="button normal" style="vertical-align: middle"><span>Update</span></button>
        </div>
    </form>
</div>