@model CreatePostViewModel

<div class="card">
    <div class="card-header">
        <h5>Create a New Post</h5>
    </div>
    <div class="card-body">
        <div class="container">
            <form method="post" asp-controller="Post" asp-action="Create">
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" type="text" class="form-control" placeholder="Post title">
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone Number</label>
                    <input asp-for="Phone" type="text" class="form-control" placeholder="Post phone number">
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="text" class="form-control" placeholder="Post email">
                </div>
                <div class="form-group">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" type="text" class="form-control" placeholder="Post address">
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Post description"></textarea>
                </div>
                <div class="form-group">
                    <label class="working-hours-label">Working Hours</label>
                    @for (int i = 0; i < 7; i++)
                    {
                        <div class="day-check-tuple">
                            <div class="form-check form-day-check">
                                <input asp-for="TimeSheets[i].Selected" type="checkbox" class="form-check-input day-check-box">
                                <label class="form-check-label" >@(i+1)</label>
                            </div>
                            <div hidden class="work-time-container">
                                <span class="time-from-label">From</span>
                                <input asp-for="TimeSheets[i].OpensAt" type="text" class="working-hour-from" data-format="HH:mm" data-template="HH : mm" data-default="00:00">
                                <span class="time-to-label">To</span>
                                <input asp-for="TimeSheets[i].ClosesAt" type="text" class="working-hour-to" data-format="HH:mm" data-template="HH : mm">
                            </div>
                        </div>
                    }
                </div>
                <button type="submit" class="button normal" style="vertical-align: middle"><span>Create</span></button>
            </form>
        </div>
    </div>
</div>
